/* 텍스트 선택 방지 */
.no-copy {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  /* 드래그 방지 */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  
  /* 우클릭 메뉴 방지 */
  pointer-events: none;
}

/* 글 내용에만 적용 */
.content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 이미지 드래그 방지 */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
